# mmd memory management daemon
type mmd, domain;
typeattribute mmd coredomain;
type mmd_exec, system_file_type, exec_type, file_type;

init_daemon_domain(mmd)

# mmd binder setup
add_service(mmd, mmd_service)
binder_use(mmd)

# zram sysfs access
allow mmd sysfs_zram:dir search;
allow mmd sysfs_zram:file rw_file_perms;

# procfs
allow mmd proc_meminfo:file r_file_perms;
